webservices-projects/axis1projects/axis1wsdl/src/main/schemas/AddressBook.wsdl

<?xml version="1.0" ?>
<definitions name="urn:AddressFetcher" targetNamespace="urn:AddressFetcher2" xmlns:tns="urn:AddressFetcher2"
  xmlns:typens="urn:AddressFetcher2" xmlns:xsd="http://www.w3.org/1999/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <!-- type defs -->
  <types>
    <xsd:schema targetNamespace="urn:AddressFetcher2" xmlns:xsd="http://www.w3.org/1999/XMLSchema">
      <xsd:simpleType name="stateType">
        <xsd:restriction base="xsd:string">
          <xs:enumeration value="AL" />
          <xs:enumeration value="AK" />
          <xs:enumeration value="AS" />
          <xs:enumeration value="AZ" />
          <xs:enumeration value="AR" />
          <xs:enumeration value="CA" />
          <xs:enumeration value="CO" />
          <xs:enumeration value="DE" />
          <xs:enumeration value="DC" />
          <xs:enumeration value="FL" />
          <xs:enumeration value="GA" />
          <xs:enumeration value="HI" />
          <xs:enumeration value="ID" />
          <xs:enumeration value="IL" />
          <xs:enumeration value="IN" />
          <xs:enumeration value="IA" />
          <xs:enumeration value="KS" />
          <xs:enumeration value="KY" />
          <xs:enumeration value="LA" />
          <xs:enumeration value="ME" />
          <xs:enumeration value="MD" />
          <xs:enumeration value="MA" />
          <xs:enumeration value="MI" />
          <xs:enumeration value="MN" />
          <xs:enumeration value="MS" />
          <xs:enumeration value="MO" />
          <xs:enumeration value="MT" />
          <xs:enumeration value="NE" />
          <xs:enumeration value="NV" />
          <xs:enumeration value="NH" />
          <xs:enumeration value="NJ" />
          <xs:enumeration value="NM" />
          <xs:enumeration value="NY" />
          <xs:enumeration value="NC" />
          <xs:enumeration value="ND" />
          <xs:enumeration value="OH" />
          <xs:enumeration value="OK" />
          <xs:enumeration value="OR" />
          <xs:enumeration value="PA" />
          <xs:enumeration value="PR" />
          <xs:enumeration value="RI" />
          <xs:enumeration value="SC" />
          <xs:enumeration value="SD" />
          <xs:enumeration value="TN" />
          <xs:enumeration value="TX" />
          <xs:enumeration value="UT" />
          <xs:enumeration value="VT" />
          <xs:enumeration value="VA" />
          <xs:enumeration value="WA" />
          <xs:enumeration value="WV" />
          <xs:enumeration value="WI" />
          <xs:enumeration value="WY" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="phone">
        <xsd:all>
          <xsd:element name="areaCode" type="xsd:int" />
          <xsd:element name="exchange" type="xsd:string" />
          <xsd:element name="number" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:all>
          <xsd:element name="streetNum" type="xsd:int" />
          <xsd:element name="streetName" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="state" type="typens:stateType" />
          <xsd:element name="zip" type="xsd:int" />
          <xsd:element name="phoneNumber" type="typens:phone" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <!-- message declns -->
  <message name="empty" />
  <message name="AddEntryRequest">
    <part name="name" type="xsd:string" />
    <part name="address" type="typens:address" />
  </message>
  <message name="GetAddressFromNameRequest">
    <part name="name" type="xsd:string" />
  </message>
  <message name="GetAddressFromNameResponse">
    <part name="address" type="typens:address" />
  </message>
  <!-- port type declns -->
  <portType name="AddressBook">
    <operation name="addEntry">
      <input message="tns:AddEntryRequest" />
      <output message="tns:empty" />
    </operation>
    <operation name="getAddressFromName">
      <input message="tns:GetAddressFromNameRequest" />
      <output message="tns:GetAddressFromNameResponse" />
    </operation>
  </portType>
  <!-- binding declns -->
  <binding name="AddressBookSOAPBinding" type="tns:AddressBook">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addEntry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="encoded" namespace="urn:AddressFetcher2"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:AddressFetcher2"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getAddressFromName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="encoded" namespace="urn:AddressFetcher2"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:AddressFetcher2"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <!-- service decln -->
  <service name="AddressBookService">
    <port name="AddressBook" binding="tns:AddressBookSOAPBinding">
      <soap:address location="http://localhost:8080/axis/services/AddressBook" />
    </port>
  </service>
</definitions>