webservices-projects/axis1projects/axis1wsdl/src/main/schemas/ContactWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.example.org/ContactWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactWSDLFile"
  targetNamespace="http://www.example.org/ContactWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ContactWSDLFile/">
      <xsd:element name="getContactOperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getContactOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="address" type="tns:AddressType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AddressType">
        <xsd:sequence>
          <xsd:element name="addressLine1" type="xsd:string" />
          <xsd:element name="adressLine2" type="xsd:string"></xsd:element>
          <xsd:element name="city" type="xsd:string"></xsd:element>
          <xsd:element name="state" type="xsd:string"></xsd:element>
          <xsd:element name="country" type="xsd:string"></xsd:element>
          <xsd:element name="zipcode" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getContactOperationRequest">
    <wsdl:part element="tns:getContactOperationRequest" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getContactOperationResponse">
    <wsdl:part element="tns:getContactOperationResponse" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="ContactWSDLFile">
    <wsdl:operation name="getContactOperation">
      <wsdl:input message="tns:getContactOperationRequest" />
      <wsdl:output message="tns:getContactOperationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactWSDLFileSOAP" type="tns:ContactWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getContactOperation">
      <soap:operation soapAction="http://www.example.org/ContactWSDLFile/getContactOperation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactWSDLFile">
    <wsdl:port binding="tns:ContactWSDLFileSOAP" name="ContactWSDLFileSOAP">
      <soap:address location="http://www.example.org/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>